.center-screen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#current_note {
    font-size: 20vw;
    text-align: center;
}

body {
    background-color: black;
    color: white;
}